header.header
  .container
    .row
      .col-2
        .inner-logo
          a(href="/") 
            img(src="https://img.freepik.com/free-vector/flat-design-library-logo-template_23-2149326889.jpg" alit="Logo")
      .col-4
        .inner-search
          form(
            form-search
            method="GET"
            action="/search/result"
          )
            div(class="form-group d-flex mb-0")
              input(
                type="text"
                placeHolder="Nhập từ khóa..."
                class="form-control"
                name="keyword"
                value=keyword 
              )
              button(
                type="submit"
                class="btn btn-primary"
              ) Tìm
            .inner-suggest  
      .col-6
        .inner-list
          ul
            li
              a(href="/topics") Chủ đề
            li
              a(href="/favorite-songs") Yêu thích
            li
              a(href="/cart") 
                <i class="fa-solid fa-cart-shopping"></i> 
                |Giỏ hàng <span quantity-cart>(0)</span>
            if(user)
              li
                button(class="btn btn-primary btn-sm") #{user.fullName}
                a(href="/auth/logout") Đăng xuất
            else
              li
                a(href="/auth/login") Đăng nhập
              li
                a(href="/auth/register") Đăng ký
    