extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  +box-head(pageTitle)
  .container

    div(id="rating" rating=course.rating )
      span(review-star) #{course.rating}.0
      <span feed-star class="fa fa-star" data-value="1" ></span>
      <span feed-star class="fa fa-star" data-value="2" ></span>
      <span feed-star class="fa fa-star" data-value="3" ></span>
      <span feed-star class="fa fa-star" data-value="4" ></span>
      <span feed-star class="fa fa-star" data-value="5" ></span> 
    div(class="alert alert-danger hidden" alert-cart) Bạn đã đặt hàng thành công!
    .row
      .col-12
        ul(class="info-course")
          li
            b Số lượng người thích : 
            span(amount-like) #{course.like.toLocaleString()} thích 
            i(class="fa-regular fa-thumbs-up" show-like)

          li
            b Số lượng người xem: 
            span(amount-view) #{course.watch.toLocaleString()} xem 
            <i class="fa-solid fa-eye"></i>
          li
            b Số lượng người tym: 
            span(amount-tym) #{course.tym.toLocaleString()} yêu thích 
            i(class="fa-regular fa-heart" show-tym)


    .row
      .col-6
        .inner-image.detail-course
          img(src=course.thumbnail)
          span(class="badge badge-danger" discount) Giảm giá #{course.discount}%
        a(href=`/try/${course.slug}` class="btn btn-secondary" target="_blank") Học thử
      .col-6
        .inner-content
          h2 #{course.title}
          p 
            span(priceNew) #{course.price_special.toLocaleString()} đ 
            span(priceOld) #{course.price.toLocaleString()} đ
          p 
            b Thời lượng: 
            span #{course.duration} 
            <i class="fa-regular fa-clock"></i>
          p 
            b Tổng cộng số bài:  
            span #{course.lecturesCount}
          p
            b Số người tham gia: 
            span #{course.participants} <i class="fa-solid fa-user-group" ></i>
          p
            b Trạng thái: 
            if (course.status=="active")
              span Còn
            else
              span Hết
          p
            i(class="fa-regular fa-thumbs-up" button-like=course.slug)
            i(class="fa-regular fa-heart" button-tym=course.slug)
          button(class="btn btn-success" button-cart=course.id) Thêm vào giỏ hàng <i class="fa-solid fa-cart-shopping"></i>
    .row.mt-5
      .col-12
        <div class="card">
          <div class="card-header" >
            h5(style="color:green") Mô tả khóa học
          </div>
          <div class="card-body">
            <p class="card-text">#{course.description}</p>
          </div>
        </div>
      .col-12.mt-5
        <div class="card">
          <div class="card-header">
            h5(style="color:green") Lộ trình khóa học
          </div>
          <div class="card-body">
            <div class="accordion" id="accordionExample">
              each lecture,index in lectures
                <div class="card-header" id="heading#{lecture.id}">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse#{lecture.id}">
                      Collapsible(style="color:#00ADEF;font-weight:600") Bài #{index+1}: #{lecture.title}
                    </button>
                  </h2>
                </div>
                each subLesson in lecture.subLessons
                  <div id="collapse#{lecture.id}" class="collapse show ml-5">
                    <p>- #{subLesson}</p>
                  </div>
            </div>
          </div>
        </div>
    .row.mt-3   
      .col-12
        div(class="form-rating")
          h3 Đánh giá của học viên
          form(form-review)
            .inner-review
              .inner-rating.form-group
                p 
                  <b>1.Đánh giá của bạn về khóa học</b>
                <span reviewing-star  class="fa fa-star" data-value="1" ></span>
                <span reviewing-star  class="fa fa-star" data-value="2" ></span>
                <span reviewing-star  class="fa fa-star" data-value="3" ></span>
                <span reviewing-star  class="fa fa-star" data-value="4" ></span>
                <span reviewing-star  class="fa fa-star" data-value="5" ></span> 
                input(
                  name="rating"
                  hidden
                  rating
                )
              .inner-content.form-group
                p <b>2.Cảm nhận của ban về khóa học</b>
                textarea(
                  class="form-control"
                  name="description"
                )
              button(class="btn btn-primary" type="submit") Đánh giá
        .col-12.mt-3.inner-feed
          if(feedbacks && feedbacks.length>0)
            each feedback in feedbacks
              div(class="person-review" person-review=feedback.id)
                div(class="inner-info")
                  div(class="inner-avatar")
                    img(review-avatar src="/client/images/avatar.jpg" width="50px")
                  div(class="inner-name")
                    p Thực
                    p 6 ngày trước 
                div(class="inner-rating" reviewed-rating=feedback.rating)
                  <span reviewed-star class="fa fa-star" data-value="1" ></span>
                  <span reviewed-star class="fa fa-star" data-value="2" ></span>
                  <span reviewed-star class="fa fa-star" data-value="3" ></span>
                  <span reviewed-star class="fa fa-star" data-value="4" ></span>
                  <span reviewed-star class="fa fa-star" data-value="5" ></span> 
                div(class="inner-content")
                  p(reviewed-content) #{feedback.review}
                div(class="inner-action" feedback=feedback.id)
                  if(feedback.like==0)
                    i(class="fa-regular fa-thumbs-up mr-2" review-like=feedback.id)
                  else
                    span(class="mr-2" span-review-like) #{feedback.like} lượt thích
                    i(class="fa-regular fa-thumbs-up mr-2" review-like=feedback.id)
                  i(class="fa-solid fa-pen-to-square mr-2" review-edit=feedback.id)
                  i(class="fa-regular fa-trash-can" review-delete=feedback.id)
                div(class="inner-edit" inner-edit=feedback.id)
                  form(form-edit-review)
                    .inner-review
                      .inner-rating.form-group
                        p 
                          <b>1.Đánh giá của bạn về khóa học</b>
                        <span edit-star  class="fa fa-star" data-value="1" ></span>
                        <span edit-star  class="fa fa-star" data-value="2" ></span>
                        <span edit-star  class="fa fa-star" data-value="3" ></span>
                        <span edit-star  class="fa fa-star" data-value="4" ></span>
                        <span edit-star  class="fa fa-star" data-value="5" ></span> 
                        input(
                          name="rating"
                          hidden
                          edit-rating
                        )
                      .inner-content.form-group
                        p <b>2.Cảm nhận của ban về khóa học</b>
                        textarea(
                          class="form-control"
                          name="description"
                        ) #{feedback.review}
                      button(class="btn btn-primary mb-3" type="submit") Cập nhật
                
                  
                  




