extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  +box-head(pageTitle)
  .container
    .row
      each course in courseSuggest
        .col-4.mb-3
          .inner-course
            <div class="card" style="width: 18rem;" detail-card>
              .inner-image
                img(src=course.thumbnail)
                <span class="badge badge-danger" discount>Giảm #{course.discount}%</span>
              .inner-content
                <div class="card-body">
                  <h5 class="card-title">#{course.title}</h5>
                  p(class="card-text" priceOld) #{course.price.toLocaleString()} đ
                  p(class="card-text" priceNew) #{course.price_special.toLocaleString()} đ
                  <p class="card-text">!{course.description}</p>
                  a(class="btn btn-primary" href=`/courses/detail/${course.slug}`) Xem chi tiết
                </div>
            </div>
        