extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  +alert-success(5000)
  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Quên mật khẩu
        form(
          action="/auth/reset-password"
          method="POST"
        )
          div(class="form-group")
            label(for="email") Email
            input(
              type="email"
              class="form-control"
              id="email"
              name="email"
              value=email 
              readonly
            )
          div(class="form-group")
            label(for="password1") Nhập mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password1"
              name="password1"
            )
          div(class="form-group")
            label(for="password2") Nhập lại mật khẩu mới
            input(
              type="password"
              class="form-control"
              id="password2"
              name="password2"
            )
          div(class="form-group")
            button(
              type="submit"
              class="btn btn-primary"
            ) Gửi mã OTP