extends ../../layouts/default.pug
include ../../mixins/box-head.pug
block main
  +box-head(pageTitle)
  .container
    .row
      each course in courses
        .col-6.mb-3
          .inner-course
            <div class="card" style="width: 30rem;" card-favorite>
              .inner-card
                .inner-image
                  img(src=course.thumbnail)
                  <span class="badge badge-danger" discount>Giảm #{course.discount}%</span>
                .inner-content
                  <div class="card-body">
                    <p class="card-title"><b>#{course.title}</b></p>
                    p(class="card-text" priceOld) #{course.price.toLocaleString()} đ
                    p(class="card-text" priceNew) #{course.price_special.toLocaleString()} đ
                    a(class="btn btn-primary" href=`/courses/detail/${course.slug}`) Xem chi tiết
                  </div>
            </div>
        