extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  .container
    .row.justify-content-center.mt-5
      .col-8
        <div class="card">
          <div class="card-header">
            | Thay đổi mật khẩu
          </div>
          <div class="card-body">
            form(
              method="POST"
              action="/user/change-password?_method=PATCH"
            )
              div(class="form-group")
                label(for="email") Email 
                input(
                  type="text"
                  class="form-control"
                  name="email"
                  id="email"
                  value=user.email
                  readonly
                )
              div(class="form-group")
                label(for="password") Nhập mật khẩu hiện tại
                input(
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  required
                )
              div(class="form-group")
                label(for="password1") Nhập mật khẩu mới
                input(
                  type="password"
                  class="form-control"
                  name="password1"
                  id="password1"
                  required
                )
              div(class="form-group")
                label(for="password2") Nhập lại mật khẩu mới
                input(
                  type="password"
                  class="form-control"
                  name="password2"
                  id="password2"
                  required
                )
              div(class="form-group")
                button(
                  class="btn btn-primary"
                  type="submit"
                ) Cập nhật
          </div>
        </div>




          
            

        