extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug
block main
  +box-head(pageTitle)
  .container
    .row.mb-3
      .col-12
        table(class="table table-hover" table-payment)
          thead
            th STT
            th Tên khóa học
            th Ảnh
            th Giá
            th Giảm giá
            th Giá mới
            th Số lượng
            th Tổng tiền 
          tbody
            if(items && items.length>0)
              each item,index in items
                <tr>
                  <td>#{index + 1}</td>
                  <td>#{item.infoCourse.title}</td>
                  <td>
                    img(src=item.infoCourse.thumbnail width="200px" alt="Logo")
                  </td>
                  <td>#{item.infoCourse.price.toLocaleString()} đ</td>
                  <td>#{item.infoCourse.discount}%</td>
                  <td>#{item.infoCourse.price_special.toLocaleString()} đ</td>
                  <td>
                    input(
                      type="number"
                      value=item.quantity
                      style="width:60px"
                      min="1"
                      readonly
                    )
                  </td>
                  <td><span total-price>#{item.totalPrice.toLocaleString()} đ</span></td>
                </tr>
      .col-12.text-right.d-flex.flex-column
        h4(total-payment=totalPayment style="color:red") Tổng tiền thanh toán: #{totalPayment.toLocaleString()} đ    
        h4(promotion style="color:red") Giảm giá : 0 đ
        h4(total-payment-new style="color:red") Tổng tiền thanh toán: #{totalPayment.toLocaleString()} đ    
    .row.justify-content-center
      div(class="col-6")
        <div class="card">
          <h5 class="card-header">Thông tin thanh toán</h5>
          <div class="card-body">
            form(class="form-group" form-payment )
              label(for="fullName") Họ và tên
              input(
                type="text"
                name="fullName"
                id="fullName"
                class="form-control"
                value=dataUser.fullName
                readonly
              )
              label(for="phone") Số điện thoại
              input(
                type="text"
                name="phone"
                id="phone"
                class="form-control"
                readonly
                value=dataUser.phone
              )
              label(for="province") Tỉnh, thành phố
              input(
                type="text"
                name="province"
                id="province"
                class="form-control"
                readonly
                value=dataUser.provinceName
              )
              label(for="district")  Quận, huyện
              input(
                type="text"
                name="district"
                id="district"
                class="form-control"
                readonly
                value=dataUser.districtName
              )
              label(for="ward") Phường, xã
              input(
                type="text"
                name="ward"
                id="ward"
                class="form-control"
                readonly
                value=dataUser.wardName
              )
              label(for="detail-address") Địa chỉ cụ thể
              textarea(
                class="form-control"
                name="detailAddress"
                id="detail-address"
                rows="5"
                readonly
              ) #{dataUser.detailAddress}
              div(class="form-group  form-check-group form-check-inline")
                input(
                  type="radio"
                  name="zalopay"
                  class="form-check-input"
                  id="zalopay"
                  value="zalopay"
                  required
                )
                label(for="zalopay" class="form-check-label") Thanh toán ZaloPay
              div(class="form-group")
                button(class="btn btn-primary" type="submit") Thanh toán
          </div>
        </div>
      div(class="col-6" )
        <div class="card">
          <h5 class="card-header">Phiếu giảm giá</h5>
          <div class="card-body">
            div(class="alert alert-error hidden"
              show-alert-error
            ) 
            div(class="alert alert-success hidden"
                show-alert-success
              ) 
            .row
              div(class="col-12" col-vourcher)
                input(
                  type="text"
                  vourcher-code
                  placeHolder="Nhập mã giảm giá"
                  class="form-control"
                )
                span(class="btn btn-primary"  button-apply) Áp dụng
              each vourcher in vourchers
                div(class="col-12" col-vourcher)
                  .inner-vourcher
                    .inner-vourcher-thumbnail
                      img(src=vourcher.thumbnail alt="Phiếu giảm giá")
                    .inner-vourcher-content
                      h5
                        b #{vourcher.title}
                      p
                        +formatDateTime(vourcher.createdAt)
                      p
                        +formatDateTime(vourcher.expireAt)
                    .inner-vourcher-button
                      button(class="btn btn-danger" button-use=vourcher.id discount=vourcher.discountPercent) Dùng
                    .inner-vourcher-condition
                      span(
                        class="badge badge-primary" data-toggle="tooltip" data-placement="top" title=`Đã mua ${vourcher.condition} sản phẩm` 
                      ) Điều kiện
          </div>
        </div>
block script
  script(src="/client/js/payment.js")
  script(src="/client/js/cart.js")
  



